<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

      * {
        margin: 0;
        padding: 0;
        border: 0;
      }

      body {
        font-family: 'Raleway', sans-serif;
        background-color: #d8dada;
        font-size: 19px;
        max-width: 800px;
        margin: 0 auto;
        padding: 3%;
      }

      img {
        max-width: 100%;
      }

      header {
text-align: center;
font-size: 30px;
color: aqua;
      }
      #wrapper {
        background-color: #186aac;
      }

      h1{  color:aqua;
          text-align: center;
        margin: 3%;

      }
      p {
          color: ghostwhite;
          text-align: center;
        margin: 3%;
      }


      #contact {
        text-align: center;
        padding-bottom: 3%;
        line-height: 16px;
        font-size: 12px;
 color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div id='wrapper'>
      <header>
<h1>DATENKRAKE AG</h1>
      </header>

      <div id='banner'>
        <img
          src='cid:logo'
          alt=""
        />
      </div>

      <div id='text'>
        <h1>Hallo {{vName}}</h1>
        <p>
            Ich bin deine freundliche Datenkrake.
            Besten Dank, dass du dich auch mit {{vAge}} Jahren noch bei unserem Datenverteildienst
            angemldet hast. Zusammen mit all den anderen Idio.... Freunden,
            werden wir deine Daten zu einem Paket zusammenschnüren und an diverse dubiose
            Firmen weiterverkaufen.


        </p>
        <h1>IST DAS NICHT AUFREGEND?</h1>
        <p>
         Und es kommt noch besser. Um dich bei unserem Dienst abzumelden, darfst du eine Gebühr von CHF 250.- bezahlen. Wir werden dir ab sofort wöchentlich eine Erinnerungsnachricht direkt auf dein Smartphone unter {{vTel}} mit unseren Kontoangaben senden.
        </p>

        <footer>
          <p id='contact'>
           DATENKRAKE AG <br />
           SCAMSTRASSE 8 <br />
            NURSEICHIMGRIND, CH <br />
            passiert.natürlich@gar.nichts
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
